/* DESKTOP */

@media (min-width: 1024px) {
  div.mobile-menu {
    display: none;
  }
}

/* TABLET */

@media (max-width: 1023px) {
  /* TRANSITIONS and ANIMATIONS */

  button,
  input.submit-form,
  li a,
  .form-link,
  .footer-link,
  a.hero-link,
  .plan {
    transition-duration: 0s;
  }
  .slide-left,
  .slide-up {
    animation-duration: 0s;
  }

  /* TABLET - HEADER */

  .nav-bar {
    display: none;
  }

  .mobile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 30px;
    color: #677788;
  }

  /* TABLET - HERO SECTION */

  .hero-section {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 550px;
  }

  .hero-left,
  .hero-title {
    align-items: center;
    width: 100%;
    justify-content: start;
    max-width: 100%;
  }

  .hero-left {
    flex: 0;
    margin-bottom: 60px;
  }

  .hero-right {
    flex: 0;
    max-width: 100%;
    width: 712px;
    height: 309px;
  }

  .logo-google {
    top: 0px;
    left: 110px;
  }

  .logo-atl {
    top: 0px;
    left: 287px;
  }

  .logo-asana {
    top: 0px;
    left: 530px;
  }

  .logo-paypal {
    top: 99px;
    left: 112px;
  }

  .logo-weave {
    top: 99px;
    left: 414px;
  }

  .logo-ads {
    top: 209px;
    left: 230px;
  }

  .logo-cal {
    top: 229px;
    left: 517px;
  }

  /* TABLET - WHY FRONT SECTION */

  .bullet-container {
    width: 184px;
  }
  .right-wing,
  .left-wing {
    width: 63px;
  }

  /* TABLET - PRICING SECTION */

  .pricing-section {
    width: 100%;
    height: 1013px;
    padding-bottom: 60px;
    justify-content: start;
  }

  .pricing-table {
    flex-direction: column;
    padding: 0 44px;
  }

  .plan,
  .plan-header,
  .plan-footer {
    align-items: center;
  }

  .divider-plan,
  .plan-features {
    width: 100%;
  }

  .plan-features-row-one,
  .plan-features-row-two {
    gap: 60px;
  }

  /* TABLET - HIRE US SECTION */

  .hire-us-section {
    flex-direction: column;
    align-items: center;
  }

  .hire-us-left,
  .hire-us-right {
    width: 100%;
  }

  .hire-us-left {
    flex-direction: row;
    justify-content: space-between;
    height: 240px;
    max-width: 588px;
    margin-left: 0;
    padding: 40px 30px 20px;
  }

  .hire-us-right {
    margin-right: 0;
    max-width: 588px;
    padding: 30px;
  }

  /* TABLET - FOOTER */

  footer {
    padding: 80px 30px 40px;
    justify-content: center;
  }

  .footer-nav-table {
    flex-direction: column;
  }

  .footer-top-row {
    gap: 67px;
  }
}

/* MOBILE */

@media (max-width: 767px) {
  /* MOBILE - HERO SECTION */

  .hero-section {
    height: 640px;
  }

  h2.hero {
    text-align: center;
  }

  .hero-right {
    flex: 0;
    max-width: 100%;
    width: 309px;
    height: 309px;
  }

  .logo-google {
    left: 0;
  }

  .logo-atl {
    left: 114px;
  }

  .logo-asana {
    left: 248px;
  }

  .logo-paypal {
    top: 99px;
    left: 0;
  }

  .logo-weave {
    left: 184px;
  }

  .logo-ads {
    left: 106px;
  }

  .logo-cal {
    top: 219px;
    left: 239px;
  }

  /* MOBILE - WHY FRONT SECTION */

  .why-front-title {
    max-width: 308px;
    padding: 0 16px;
  }

  .why-front-bullet-list {
    flex-direction: column;
    max-width: 420px;
    gap: 17px;
  }

  .left-wing,
  .right-wing {
    display: none;
  }

  .bullet-container {
    flex-direction: row;
    width: 100%;
    justify-content: start;
  }

  /* MOBILE - PRICING SECTION */

  .pricing-section {
    height: 1311px;
  }

  .pricing-table {
    max-width: 328px;
    gap: 30px;
  }

  .plan-features-row-one,
  .plan-features-row-two {
    flex-direction: column;
    gap: 10px;
  }

  .plan-feature-item {
    width: 328px;
    height: 149px;
  }

  /* MOBILE - HIRE US SECTION */

  .hire-us-left {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .hire-us-header,
  .hire-us-footer {
    text-align: center;
  }

  .hire-us-right {
    max-width: 328px;
    min-width: 328px;
    height: auto;
  }

  .form-group-half-size {
    flex-direction: column;
    width: 308px;
  }

  /* MOBILE - FOOTER */

  footer,
  .footer-top-row,
  .footer-bottom-row {
    flex-direction: column;
  }

  footer,
  ul {
    align-items: center;
  }

  footer {
    text-align: center;
  }

  .footer-top-row,
  .footer-bottom-row,
  .footer-nav-table {
    gap: 30px;
  }

  ul.column-list {
    gap: 20px;
  }
}
