@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* GLOBAL */

* {
  margin: 0;
}

body,
textarea {
  font-family: "Inter", sans-serif;
}

h2 {
  font-size: 40px;
  font-weight: normal;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 18px;
}

p {
  color: #677788;
  font-size: 16px;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
}

li a,
.form-link,
.footer-link {
  font-size: 14px;
  color: #677788;
  text-decoration: none;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

li a:hover,
.form-link:hover,
.footer-link:hover {
  color: #2476ff;
}

/* HEADER // NAV BAR */

header,
.banner,
.nav-bar {
  display: flex;
}

header {
  height: 76px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  background-color: #f6f8fa;
}

.banner {
  justify-content: space-between;
  width: 1024px;
}

img.banner-logo {
  width: 150px;
}

.nav-bar {
  justify-content: space-between;
  align-items: center;
  padding: 6px 14px;
  gap: 30px;
}

ul.header-nav-list {
  gap: 20px;
}

button,
input.submit-form {
  background-color: #2476ff;
  color: #fff;
  border: 2px solid #2476ff;
  border-radius: 30px;
  padding: 15px 25px;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

button:hover,
input.submit-form:hover {
  background-color: #fff;
  color: #2476ff;
}

/* HERO SECTION */

p.hero,
a.hero-link {
  font-size: 14px;
  color: #677788;
}

.hero-section {
  background-image: url("/assets/bg/background-top.svg");
  background-size: cover;
  padding: 40px 30px 0;
}

.hero-section,
.hero-left,
.hero-right,
.hero-title,
.hero-actions,
button,
div.hero-right > div {
  display: flex;
}

.hero-section {
  justify-content: center;
}

.hero-left,
.hero-title {
  flex-direction: column;
}

.hero-left,
.hero-right {
  flex: 1;
  max-width: 512px;
}

.hero-left {
  gap: 30px;
  justify-content: center;
}

.hero-title {
  gap: 11px;
  width: 400px;
}

.hero-actions {
  gap: 24px;
  align-items: center;
}

button {
  gap: 8px;
}

a.hero-link {
  text-decoration: none;
  font-weight: bold;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

a.hero-link:hover {
  color: #2476ff;
}

.hero-right {
  height: 406px;
}

div.hero-right > div {
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

div.logo-80 {
  width: 80px;
  height: 80px;
}

div.logo-80 > img {
  width: 48px;
}

div.logo-60 {
  width: 60px;
  height: 60px;
}

div.logo-60 > img {
  width: 40px;
}

div.hero-right {
  position: relative;
}
.logo-asana,
.logo-atl,
.logo-cal,
.logo-paypal,
.logo-weave,
.logo-google,
.logo-ads {
  position: absolute;
}

.logo-google {
  top: 10px;
  left: 64px;
}

.logo-atl {
  top: 10px;
  left: 175px;
}

.logo-asana {
  top: 10px;
  left: 380px;
}

.logo-paypal {
  top: 172px;
  left: 44px;
}

.logo-weave {
  top: 172px;
  left: 262px;
}

.logo-ads {
  top: 290px;
  left: 155px;
}

.logo-cal {
  top: 310px;
  left: 364px;
}

/* WHY FRONT SECTION */

.why-front-section,
.why-front-title,
.why-front-bullet-list,
.bullet-container,
.bullet-icon,
.bullet {
  display: flex;
  align-items: center;
  justify-content: center;
}

.why-front-section,
.why-front-title,
.bullet-container {
  flex-direction: column;
}

.why-front-section {
  padding: 0 30px 80px;
  gap: 40px;
}

.why-front-title {
  width: 600px;
  text-align: center;
  gap: 10px;
}

.why-front-bullet-list {
  padding: 0 34px;
}

.bullet-container {
  width: 224px;
  margin: 26px 0;
  gap: 24px;
}

.bullet-icon {
  width: 50px;
  gap: 4px;
}

.left-wing,
.right-wing {
  width: 83px;
  height: 1px;
  background-color: #e6e9f2;
}

.bullet {
  width: 50px;
  height: 50px;
  background-color: #ecf2ff;
  border-radius: 50%;
}

.bullet-dot {
  width: 6px;
  height: 6px;
  background-color: #0066ff;
  border-radius: 50%;
}

.hidden {
  background-color: transparent;
}

p.bullet-text {
  color: #000;
}

/* PRICING SECTION */

.pricing-section,
.pricing-title,
.pricing-table,
.plan,
.plan-header,
.plan-footer,
.plan-features,
.plan-features-row-one,
.plan-features-row-two,
.plan-feature-item,
.cancel-anytime,
.sketch-btn {
  display: flex;
}

.pricing-section,
.pricing-title,
.plan,
.plan-header,
.plan-footer,
.plan-features,
.plan-feature-item {
  flex-direction: column;
}

.pricing-section,
.pricing-title,
.pricing-table,
.plan-features,
.sketch-btn {
  justify-content: center;
  align-items: center;
}

.pricing-section {
  height: 692px;
  padding-bottom: 120px;
  gap: 60px;
}

.pricing-title {
  gap: 10px;
}

.pricing-table {
  padding: 0 30px;
  gap: 30px;
  max-width: 964px;
}

.plan {
  justify-content: center;
  flex: 1;
  border: 1px solid #e2e2e2;
  height: 452px;
  padding: 40px;
  gap: 50px;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.plan:hover {
  box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.4);
}

.plan-header {
  gap: 30px;
}

.plan-footer {
  gap: 10px;
}

.plan-features {
  flex: 2;
}

span.plan-cost {
  font-size: 50px;
  color: #000;
}

span.plan-slash,
span.plan-period {
  color: #677788;
  font-size: 20px;
}

.divider-plan,
.divider-hire-us {
  width: 290px;
  height: 2px;
  background-color: #8d8d8d;
}

button.play-video {
  width: 137px;
  height: 48px;
  font-size: 12px;
}

p.plan-disclaimer {
  font-size: 12px;
}

.plan-features,
.plan-features-row-one,
.plan-features-row-two,
.cancel-anytime {
  gap: 10px;
}

.plan-feature-item {
  width: 237px;
  height: 219px;
  padding: 20px;
  gap: 20px;
}

.plan-feature-item > img {
  width: 50px;
  height: 50px;
}

p.item-text {
  font-size: 14px;
}

.sketch-btn {
  background-color: #01c9a7;
  border-radius: 30px;
  color: #fff;
  width: 60px;
  height: 23px;
  font-size: 12px;
}

/* HIRE US SECTION */

.hire-us-section,
.hire-us-left,
.hire-us-form,
.hire-us-header,
.hire-us-title,
.hire-us-footer,
.form-data,
.form-group-half-size,
.form-group-full-size,
.form-input,
.form-group-checkbox {
  display: flex;
}

.hire-us-left,
.hire-us-form,
.hire-us-header,
.hire-us-title,
.hire-us-footer,
.form-data {
  flex-direction: column;
  justify-content: center;
}

.hire-us-section {
  background-color: #20335b;
  padding: 30px;
}

.hire-us-left,
.hire-us-right {
  width: 382px;
  min-width: 382px;
  height: 588px;
}

.hire-us-left {
  margin-left: auto;
  gap: 60px;
}

.hire-us-right {
  margin-right: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 50px;
}

.hire-us-form {
  align-items: center;
}

.hire-us-header {
  flex-direction: column;
  gap: 34px;
  width: 370px;
}

.hire-us-title {
  gap: 10px;
}

h3.hire-us {
  color: #fff;
}

.divider-hire-us {
  width: 370px;
}

p.hire-us-quote {
  color: #fff;
  font-style: italic;
  line-height: 24px;
}

.hire-us-footer {
  gap: 20px;
}

.person {
  gap: 4px;
}

.name {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.title {
  font-size: 14px;
}

.person-image > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.hire-us-form {
  gap: 37px;
}

.form-data,
.form-group-half-size {
  gap: 20px;
}

h5 {
  font-size: 16px;
}

.form-group-half-size {
  justify-content: center;
}

input,
select,
.form-input,
textarea {
  width: 100%;
  height: 24px;
  border: 1px solid #e6e8f2;
  border-radius: 10px;
  padding: 10px;
}

.form-input {
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

textarea {
  height: 128px;
}

#terms {
  width: 25px;
}

.form-group-checkbox {
  gap: 16px;
  align-items: center;
}

label {
  color: #828282;
  font-size: 14px;
}

.form-group-links {
  margin-left: 40px;
  font-weight: bold;
}

input.submit-form {
  width: 125px;
  height: 45px;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}

/* FOOTER */

footer,
.company-info,
.icon-list-item,
.column-list,
.footer-nav-box,
.footer-nav-table,
a.footer-link,
.were-hiring,
.footer-top-row,
.footer-bottom-row {
  display: flex;
}

footer {
  padding: 40px 30px;
  gap: 40px;
  justify-content: center;
}

.company-info,
.column-list,
.footer-nav-box {
  flex-direction: column;
}

.company-info,
.footer-nav-box {
  gap: 20px;
}

.icon-list-item,
a.footer-link {
  gap: 9px;
}
ul.column-list {
  gap: 10px;
}

.footer-logo {
  width: 100px;
}

.footer-nav-table,
.footer-top-row,
.footer-bottom-row {
  gap: 49px;
}

div.were-hiring {
  width: 55px;
  height: 14px;
  background-color: #2576ff;
  border-radius: 5px;
  padding: 2px 4px;
  color: #fff;
  font-size: 8px;
  justify-content: center;
  align-items: center;
}
